<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Simulados</title>
</head>

<body>

    <div class="container">
        <form action="">
            {% for resposta in respostas %}

            <input type="radio" id="huey" name="resposta" value="{{ resposta.eh_correta }}" checked>
            <label for="huey">{{ resposta }}</label>
            <br> {% endfor %}
            <br>
            <input type="submit">
        </form>
    </div>
</body>

</html>